# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\FAYSA\Documents\UNIGE\ProjetInformatique\g2-couchpotato\couchpotato-backend\Microservice3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
