<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- src/main/webapp/WEB-INF/web.xml -->

    <context-param>
        <param-name>com.auth0.domain</param-name>
        <param-value>couchpotato.eu.auth0.com</param-value>
    </context-param>

    <context-param>
        <param-name>com.auth0.clientId</param-name>
        <param-value>VWqCELMacpVlBCaOjhqC46eo8I7QsZpF</param-value>
    </context-param>

    <!--    hardcode client secret??? -->
    <context-param>
        <param-name>com.auth0.clientSecret</param-name>
        <param-value>9lzCu8ns5wTbEu6gIPCQIWpxdC7qn4BeDuIlPm6uxJWthjsi2ejaqnWxoEM05P5R</param-value>
    </context-param>


</web-app>